<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.Agosdyne.alesqgc">

    <application
        android:label="ALES QGC Test"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.mavlink.qgroundcontrol.QGCActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
