<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brcm.rpi4.alesqgc.autostart">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="org.Agosdyne.alesqgc" />
    </queries>

    <application
        android:directBootAware="true"
        android:label="ALES QGC Autostart"
        android:persistent="true">
        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
